doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src="/javascripts/libs/jquery-3.3.1.min.js")
    script(src="/javascripts/libs/lodash.min.js")
    script(src="/javascripts/libs/my_utils.js")
    block content


